<div class="container">
  <h2>RESERVACIONES</h2>
  <p>reservaciones del sistema</p>

  <div class="form-group">
    <label class="col-form-label">BUSCAR</label>
    <div>
      <input id="fecha_inicio_input" class="form-control" name="name" type="text" value="">
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>MESA</th>
        <th>DNI</th>
        <th>NOMBRES Y APELLIDOS</th>
        <th>TIEMPO RESERVACION</th>
        <th>OPCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>56457544</td>
        <td>AIMARA LARA ROCIO</td>
        <td>10 minutos</td>
        <td><button type="button" class="btn btn-primary">EDITAR</button>
        <button type="button" class="btn btn-primary">ELIMINAR</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>45452</td>
        <td>GENARO LARA ROCIO</td>
        <td>10 minutos</td>
        <td><button type="button" class="btn btn-primary">EDITAR</button>
        <button type="button" class="btn btn-primary">ELIMINAR</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>56451234</td>
        <td>JHON SALCHICHA ROCIO</td>
        <td>8 minutos</td>
        <td><button type="button" class="btn btn-primary">EDITAR</button>
        <button type="button" class="btn btn-primary">ELIMINAR</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>56457544</td>
        <td>CONSTANTINO LARA ROCIO</td>
        <td>10 minutos</td>
        <td><button type="button" class="btn btn-primary">EDITAR</button>
        <button type="button" class="btn btn-primary">ELIMINAR</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>56457544</td>
        <td>GOKA LARA ROCIO</td>
        <td>10 minutos</td>
        <td><button type="button" class="btn btn-primary">EDITAR</button>
        <button type="button" class="btn btn-primary">ELIMINAR</button></td>
      </tr>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>23457544</td>
        <td>AIMARA LARA ROCIO</td>
        <td>10 minutos</td>
        <td><button type="button" class="btn btn-primary">EDITAR</button>
        <button type="button" class="btn btn-primary">ELIMINAR</button></td>
      </tr>
    </tbody>
  </table>


</div>
