  <% content_for :scripts do %>
   <script src="/libs/pedidos.js"></script>
   <script src="/vendor/select2/select2.full.min.js"></script>
  <% end %>

 <% content_for :styles do %>
<link rel="stylesheet" href="/vendor/bootstrap-select/bootstrap-select.min.css">
<link rel="stylesheet" href="/vendor/select2/select2.min.css">
<link rel="stylesheet" href="/vendor/datatable/datatables.min.css">
<link rel="stylesheet" href="/libs/pedidos.css">
<% end %>



  <div class="container">
    <h2>PEDIDOS</h2>

    <div class="form-group">
    <label class="col-form-label">BUSCAR</label>
    <div>
        <input id="buscar_text_pedido" class="form-control" type="number" name="numero_mesa" placeholder="Buscar por numero de mesa">
      </div>
    </div>

    <p>pedidos del sistema</p>
    <table id="tabla_pedidos_listar" class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>MESA</th>
          <th>PLATILLO</th>
          <th>CANTIDAD</th>
          <th>ESTADO</th>
          <th>TIEMPO_ESPERA</th>
          <th>COSTO</th>
          <th>OPCIONES</th>
        </tr>
      </thead>
      <tbody>
       
      </tbody>
    </table>
    <div>
      <button id="agregar_platillo" type="button" class="btn btn-primary">AGREGAR</button>
    </div>

  </div>




  <div class="modal fade" tabindex="-1" role="dialog" id="modal-agregar" aria-labelledby="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar</h5>
          <button id="close_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>MESA: </label>
            <div>
              <select class="js-example-basic-single" id="IDmesa" name="IDmesa" style="width:10em">
              </select>
            </div>

          </div>
          <div class="form-group">
            <label class="col-form-label">PLATILLO:</label>
            <div>
              <select class="js-example-basic-single"id="IDplatillo" name="IDplatillo" style="width:10em">
              </select>

            </div>

          </div>

          <div class="form-group">
            <label class="col-form-label">CANTIDAD</label>
            <div>
              <input id="cantidad_input" class="form-control" name="name" type="text" value="">
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" id="btn_save_AGREGAR">Aceptar</button>
            <button class="btn btn-danger" id="btn_cancel_AGREGAR" class="close" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" tabindex="-1" role="dialog" id="modal-editar-pedido" aria-labelledby="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">EDITAR</h5>
          <button id="close_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label class="col-form-label">ESTADO DEL PLATILLLO:</label>
            <div>
              <select class="select" data-live-search="true" id="estado2" name="tipo_agregar" style="width:10em">
                <option value="EN ESPERA" selected>EN ESPERA</option>
                <option value="PREPARANDO">PREPARANDO</option>
                <option value="LISTO">LISTO</option>
              </select>

            </div>

          </div>



          <div class="form-group">
            <label>MESA: </label>
            <div>
              <select class="js-example-basic-single" id="IDmesa2" name="IDmesa2" style="width:10em">
              </select>
            </div>

          </div>


          <div class="form-group">
            <label class="col-form-label">PLATILLO:</label>
            <div>
              <select class="js-example-basic-single" id="IDplatillo2" name="IDplatillo2" style="width:10em">
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label">CANTIDAD</label>
            <div>
              <input id="cantidad_input2" class="form-control" name="name" type="number" min="1" max="10" value="">
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" id="btn_actualizar_pedido_aceptar">Aceptar</button>
            <button class="btn btn-danger" id="btn_actualizar_pedido_cancelar" class="close" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>




<div class="modal fade" tabindex="-1" role="dialog" id="modal-eliminar-pedido" aria-labelledby="">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ELIMINAR</h5>
          <button id="close_modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
              <h3>¿DESEA ELIMINAR ESTE PEDIDO?</h3>
                <div class="group_msg ">
                  <button class="btn btn-primary" id="btn_eliminar_pedido_aceptar">Aceptar</button>
                  <button class="btn btn-danger" id="btn_eliminar_pedido_cancelar" class="close" data-dismiss="modal">Cancelar</button>  
                </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
